.lineapp_getinlineview_wrapper
{
	position:relative;
	background-image:url(splash-bg.png);
	height:100%;
	width:100%;
	background-size:100%;
	background-repeat:no-repeat;
	
	text
	{
		position: absolute;
		font-size:36px;
		color:white;
	}
	
    button
    {
        position:relative;
        top:100px;
        left:50px;
    }
}
