.lineapp_getinlineview_wrapper
{
	position:relative;
	background-image:url(splash-bg.png);
	height:100%;
	width:100%;
	background-size:100%;
	background-repeat:no-repeat;

	.text
	{
		position: absolute;
		top:342px;
		left:101px;
		font-size:18px;
		color:white;
	}
	
    .button
    {
        position:absolute;
        top:409px;
        left:13px;
        width:295px;
        height:45px;
    }
}
