.lineapp_inlinelineview_wrapper
{
    height:100%;
    width: 100%;
    overflow-x: auto;
    overflow-y:visible;

    .waitingline
    {
        position:relative;
        top:20px;
    }
    .waitingline,
    .vipline,
    .normalline {
        height:100%;
        float:left;
        position:relative;
        overflow-y:visible;

        .face 
        {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: 2px solid #5fae5d;
            position:absolute;
        }

        .info
        {
            background:url(bottom-info.png);
            background-size:cover;
            width:69px;
            height:31px;
            position:absolute;
            top:110px;

            .ask
            {
                font-family: Arial;
                color: white;
                font-weight: bold;
                letter-spacing: -0.10em;
                right: 5px;
                top: 11px;
                position: absolute;
                width: 20px;
                height: 15px;
                text-align: center;
                line-height: 15px;
                background:#84c182;
            }

            .timeinline
            {
                position: absolute;
                left: 0px;
                width: 45px;
                height: 13px;
                font-size: 10px;
                top: 7px;
                text-align: center;
                line-height: 13px;
                color: #357134;
            }

            .timeinlinetitle
            {
                position: absolute;
                left: 0px;
                width: 45px;
                height: 13px;
                font-size: 7px;
                top: 18px;
                text-align: center;
                line-height: 13px;
                color: #9bb49b;
            }
        }
    }

    .spotsaver {
        float:left;
        width:63px;
        height:109px;
        margin-left:15px;
    }

    .desk {
        width:63px;
        height:109px;
        background:black;
        float:left;
    }

    .person 
    {
        width:63px;
        height:109px;
        background:red;
        position:absolute;
        top:0px;
        left:0px;
        overflow:visible;
        cursor:pointer;
    }

    .creature1
    {
        background:url(creature1.png);
        background-size:cover;

        .face 
        {
            top: -16px;
            left: 15px;
        }
    }
    .creature2
    {
        background:url(creature3.png);
        background-size:cover;

        .face 
        {
            top: 11px;
            left: 1px;
        }
    }
    .creature3
    {
        background:url(creature2.png);
        background-size:cover;

        .face 
        {
            top: -3px;
            left: 10px;
        }
    }
}
