.lineapp_inlinelineview_wrapper
{
    height:100%;
    width: 100%;
    position:relative;

    .inner
    {
        height:100%;
        width: 100%;
        position:relative;
        overflow-x: auto;
        overflow-y:visible;
    }

    .sargel
    {
        width:100%;
        height:90px;
        background:url(sargel-top.png);
        background-size:cover;
    }

    .totalthere
    {
        position: absolute;
        top: 34px;
        left: 166px;
        font-family: Arial;
        font-weight: bold;
        color: #fffec9;
        font-size: 26px;
        letter-spacing: -0.05em;
        width: 47px;
        height: 34px;
        line-height: 34px;
        text-align: center;
    }

    .waitingline
    {
        float:left;
        position:relative;
        overflow-y:visible;
        margin-top:40px;
    }

    .vipline,
    .normalline {
        height:100%;
        float:left;
        position:relative;
        overflow-y:visible;

        .face 
        {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: 2px solid #5fae5d;
            position:absolute;
        }

        .ask
        {
            font-family: Arial;
            color: white;
            font-weight: bold;
            letter-spacing: -0.10em;
            position: absolute;
            width: 20px;
            height: 15px;
            text-align: center;
            line-height: 15px;
            background:#84c182;
        }

        .info
        {
            background:url(bottom-meta.png);
            background-size:cover;
            width:50px;
            height:32px;
            position:absolute;
            top:110px;
            left:9px;

            .timeinline
            {
                position: absolute;
                left: 0px;
                width: 50px;
                height: 13px;
                font-size: 10px;
                top: 7px;
                text-align: center;
                line-height: 13px;
                color: #357134;
            }

            .timeinlinetitle
            {
                position: absolute;
                left: 0px;
                width: 50px;
                height: 13px;
                font-size: 7px;
                top: 18px;
                text-align: center;
                line-height: 13px;
                color: #9bb49b;
            }
        }
    }

    .spotsaver {
        float:left;
        width:63px;
        height:109px;
        padding-left:17px;
    }

    .desk {
        width:80px;
        height:109px;
        background:black;
        float:left;
    }

    .person 
    {
        width:63px;
        height:109px;
        background:red;
        position:absolute;
        top:0px;
        overflow:visible;
        cursor:pointer;
    }

    .creature1
    {
        background:url(creature1.png);
        background-size:cover;

        .face 
        {
            top: -16px;
            left: 15px;
        }

        .ask
        {
            right: 22px;
            top: -33px;
        }
    }
    .creature2
    {
        background:url(creature3.png);
        background-size:cover;

        .face 
        {
            top: 11px;
            left: 1px;
        }

        .ask
        {
            right: 36px;
            top: -6px;
        }
    }
    .creature3
    {
        background:url(creature2.png);
        background-size:cover;

        .face 
        {
            top: -3px;
            left: 10px;
        }

        .ask
        {
            right: 27px;
            top: -20px;
        }
    }
}
